MONGO_URI=mongodb+srv://sitegenio_db_user:sGYstwUIIszWm1di@cluster0.hilcfej.mongodb.net/crickbackend?retryWrites=true&w=majority



# API Configuration
API_TIMEOUT=15000
API_REFRESH_TIME=5000

# Cricket API URLs
CRICKET_MATCHES_API_URL=https://test.khelodost.live/cricket/matches
CRICKET_EVENT_API_URL=https://test.khelodost.live/cricket/event

# Soccer API URLs
SOCCER_MATCHES_API_URL=https://marketsarket.qnsports.live/getsoccermatches2
SOCCER_EVENT_API_URL=https://test.khelodost.live/soccer/event

# Tennis API URLs
TENNIS_MATCHES_API_URL=https://marketsarket.qnsports.live/gettennismatches2
TENNIS_EVENT_API_URL=https://test.khelodost.live/tennis/event


SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_PASSWORD=Admin@123
SUPER_ADMIN_MOBILE=+1234567890

# Casino (HUIDU-style) API Configuration
# Set these values provided by the casino provider.
HUIDU_SERVER_URL=https://jsgame.live
HUIDU_AGENCY_UID=8dee1e401b87408cca3ca813c2250cb4
HUIDU_AES_KEY=68b074393ec7c5a975856a90bd6fdf47

# Publicly reachable callback URL that the provider will call for bet results.
# Example: https://your-domain.com/api/casino/callback/bet
HUIDU_CALLBACK_URL=https://api.khelodost.live/api/casino/callback/bet

# Optional defaults
HUIDU_DEFAULT_LANGUAGE=en
HUIDU_DEFAULT_PLATFORM=1
HUIDU_MEMBER_ACCOUNT_PREFIX=